{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1><b>DNA Enhancer Prediction Server</b></h1>
    <p class="lead" style="text-align: justify;">
        Enhancers are DNA fragments that do not encode RNA molecules and proteins, but they act critically in the production of RNAs and proteins by controlling gene expression. Prediction of enhancers and their strength plays significant role in regulating gene expression. Prediction of enhancer regions, in sequences of DNA, is considered a difficult task due to the fact that they are not close to the target gene, have less common motifs and are mostly tissue/cell specific.
        <br>
        <br>
        In recent past, several bioinformatics tools were developed to discriminate enhancers from other regulatory elements and to identify their strengths as well. However the need for improvement in the quality of its prediction method requires enhancements in its application value practically.
	</p>
  </div>
{% endblock %}
