{% extends 'layout.html' %}

{% block body %}
  <h1 style="padding-bottom: 5%;">Benchmark Datasets</h1>
  <a class="btn btn-primary" href="{{ url_for('static', filename='Supp-S1.pdf') }}"> Online Supporting Information S1 </a>
  <br><br>
  <a class="btn btn-primary" href="{{ url_for('static', filename='Supp-S2.pdf') }}"> Online Supporting Information S2 </a>
  <br><br>
  <a class="btn btn-primary" href="{{ url_for('static', filename='Supp-S3.pdf') }}"> Online Supporting Information S3 </a>
{% endblock %}